.head {
	background: #fff;
}
.wishlist{
	position: relative;
	width: 100%;
	height: 75px;
	background: #fff;
	border-radius: 75px;
	line-height: 75px;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	color: #262626;
	transition: 0.25s;
	text-transform: uppercase;
	z-index: 1;
}
.wishlist.active{
	background: transparent;
	color: #fff;
}
.wishlist:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #ff0047;
    width: 65%;
    height: 135%;
    transition: 0.5s;
    z-index: -1;
    border-bottom-left-radius: 75px;
	border-top-left-radius: 75px;
    transform: translateX(-50px) rotate(-125deg);
    opacity: 0;
}
.wishlist.active:before{
	left: -8.5px;
	transform: translateX(0) rotate(40deg);
	border-bottom-left-radius: 75px;
	border-top-left-radius: 75px;
	opacity: 1;
}
.wishlist:after{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	background: #ff0047;
	width: 65%;
	height: 135%;
	transition: 0.5s;
	z-index: -1;
	border-bottom-right-radius: 75px;
	border-top-right-radius: 75px;
	transform: translateX(50px) rotate(125deg);
	opacity: 0;
}
.wishlist.active:after{
	right: 15.5px;
	transform: translateX(0) rotate(-40deg);
	border-bottom-right-radius: 75px;
	border-top-right-radius: 75px;
	opacity: 1;
}


/*Range brightness*/
.brightness-box {
	width: 228px;
	height: 50px;
	background: #f9f9f9;
	border-radius: 8px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.brightness-box i {
	margin: 0 8px;
	font-size: 18px;
}

#range_brightness {
	width: 100%;
	-webkit-appearance: none;
	background: #0a85ff;
	height: 3px;
	outline: none;
}

#range_brightness::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 18px;
	height: 18px;
	background: #333;
	border-radius: 50%;
	cursor: pointer;
}