.head {
	background: #fff;
}
.wishlist{
	position: relative;
	width: 100%;
	height: 75px;
	background: #fff;
	border-radius: 75px;
	line-height: 75px;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	color: #262626;
	transition: 0.25s;
	text-transform: uppercase;
	z-index: 1;
}
.wishlist.active{
	background: transparent;
	color: #fff;
}
.wishlist:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #ff0047;
    width: 65%;
    height: 135%;
    transition: 0.5s;
    z-index: -1;
    border-bottom-left-radius: 75px;
	border-top-left-radius: 75px;
    transform: translateX(-50px) rotate(-125deg);
    opacity: 0;
}
.wishlist.active:before{
	left: -8.5px;
	transform: translateX(0) rotate(40deg);
	border-bottom-left-radius: 75px;
	border-top-left-radius: 75px;
	opacity: 1;
}
.wishlist:after{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	background: #ff0047;
	width: 65%;
	height: 135%;
	transition: 0.5s;
	z-index: -1;
	border-bottom-right-radius: 75px;
	border-top-right-radius: 75px;
	transform: translateX(50px) rotate(125deg);
	opacity: 0;
}
.wishlist.active:after{
	right: 15.5px;
	transform: translateX(0) rotate(-40deg);
	border-bottom-right-radius: 75px;
	border-top-right-radius: 75px;
	opacity: 1;
}


/*Range brightness*/
.brightness-box {
	width: 228px;
	height: 50px;
	background: #f9f9f9;
	border-radius: 8px;
	padding: 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.brightness-box i {
	margin: 0 8px;
	font-size: 18px;
}

#range_brightness {
	width: 100%;
	-webkit-appearance: none;
	height: 3px;
	outline: none;
}

#range_brightness::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 18px;
	height: 18px;
	background: #333;
	border-radius: 50%;
	cursor: pointer;
}



.change_feedback,
.add_feedbeck {
	background-color: #3d94f6;
	border-radius: 28px;
	border: 1px solid #337fed;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	padding: 4px 8px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #1570cd;
}
.change_feedback:hover,
.add_feedbeck:hover {
	color: #fff;
}
.change_feedback:active,
.add_feedbeck:active {
	position: relative;
	top: 1px;
}


.form_change,
.show_add_feedbeck {
	background-color: #44c767;
	border-radius: 28px;
	border: 2px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	padding: 4px 8px;
	text-decoration: none;
	text-shadow: 0px 0px 0px #2f6627;
}

.form_change:hover,
.show_add_feedbeck:hover {
	color: #fff;
}
.form_change:active,
.show_add_feedbeck:active {
	position: relative;
	top: 1px;
}
#range_brightness,
.remove_review {
  background: #2A8FBD;
}


.this_wishlist,
.this_wishlist_remove,
.this_wishlist:hover,
.this_wishlist_remove:hover {
	color: #2A8FBD;
}

.order-item-remove > a {
	cursor: pointer;
}

.dletete_this > ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-right: 40px;
}

.dletete_this ul > li {
	float: left;
	padding: 2px 5px;
}